{% extends 'base.html' %}
{% block content %}
<h1 class="text-4xl text-center text-white my-6">Login</h1>
<form method="post" class="card p-6 bg-gray-800 rounded-lg shadow-lg max-w-sm mx-auto">
  <label for="username" class="block text-white mb-2">Username
    <input id="username" name="username" class="w-full p-2 rounded-md bg-gray-700 text-white" required>
  </label>
  <label for="password" class="block text-white mb-2">Password
    <input id="password" type="password" name="password" class="w-full p-2 rounded-md bg-gray-700 text-white" required>
  </label>
  <button type="submit" class="w-full py-2 bg-blue-500 text-white rounded-md hover:bg-blue-400">Login</button>
  <p class="mt-4 text-center text-gray-400">No account? <a href="{{ url_for('register') }}"
      class="text-blue-300 hover:text-blue-400">Register</a>.</p>
  <p class="mt-2 text-center text-gray-400"><a href="{{ url_for('forgot_password') }}"
      class="text-blue-300 hover:text-blue-400">Forgot Password?</a></p>
</form>
{% endblock %}